body {
    padding: 0.5% 5% 0.5%;
}
.home {
    background-color: aqua;
}
#home {
    height: 90vh;
}
.home {
    background-image: ;
}
.intro {
    padding: 5%;
}
.intro_text {
    padding-top: 5%;
}
#about {
    height: 90vh;
}
#contact {
    height: 90vh;
}